[database]
DATABASE_PORT=3306
DATABASE_USER=****
DATABASE_PASSWORD=*****
DATABASE_FOLDER=./src/database/data

[phpmyadmin]
PHPMYADMIN_PORT=7707
USER=****
PASSWORD=*****

[admin]
ADMIN_PORT=7071
ADMIN_SRC_FOLDER=./src/admin/data
